{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="position-relative text-center d-flex justify-content-center align-items-center" style="min-height: 850px;">
        <img class="img-fluid w-100 h-100 position-absolute top-0 start-0 object-fit-cover" src="{{ asset('img/fond.jpg') }}" alt="Snowboard">
        <div class="position-relative text-white font-weight-bold bg-dark rounded p-3">
            <h1 class="display-1 d-block d-sm-none fs-3 text-white font-weight-bold">Découvrez tout sur le snowboard</h1>
            <h1 class="display-1 d-none d-sm-block text-white font-weight-bold">Découvrez tout sur le snowboard</h1>
        </div>
        <a href="#card">
            <svg fill="#000000" height="100px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" class="position-absolute bottom-0 end-0 mb-3 me-3">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path id="XMLID_24_" d="M216.358,271.76c-2.322-5.605-7.792-9.26-13.858-9.26H180V15c0-8.284-6.716-15-15-15 c-8.284,0-15,6.716-15,15v247.5h-22.5c-6.067,0-11.537,3.655-13.858,9.26c-2.321,5.605-1.038,12.057,3.252,16.347l37.5,37.5 C157.322,328.536,161.161,330,165,330s7.678-1.464,10.607-4.394l37.5-37.5C217.396,283.816,218.68,277.365,216.358,271.76z"></path>
                </g>
            </svg>
        </a>
    </div>

    <div class="container mt-5 mb-5">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div id="card" class="container-fluid mb-5 p-5">
        <div class="row">
            {% if tricks != [] %}
                {% for trick in tricks %}
                    <div class="card col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column mb-4 {% if loop.index > 4 %} hidden-trick {% endif %}">
                        <div class="card-img-container">
                            <img src="{{ asset('uploads/' ~ trick.images) }}" class="card-img-top" alt="" onerror="this.src='{{ asset('img/noi_image.jpg') }}'">
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h4 class="card-title text-center flex-grow-1">
                                <a href="{{ path('home.viewTrick', {'slug' : trick.slug}) }}">
                                    {{ trick.name }}
                                </a>
                            </h4>
                            <div class="d-flex justify-content-center gap-3 mt-auto">
                                {% if app.user %}
                                    <a href="{{ path('editTrick', {'slug' : trick.slug}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                            <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/>
                                        </svg>
                                    </a>
                                    <a data-trick="{{ trick.id }}" class="confirmationButton" style="margin-left: 5px" href="">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    Aucune figure de disponible !
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end ">
            <a href="#card">
                <svg id="scrollArrow" fill="#000000" height="50px" width="50px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve" style="display: none;">
                <g id="SVGRepo_iconCarrier">
                    <path id="XMLID_21_" d="M213.107,41.894l-37.5-37.5c-5.857-5.858-15.355-5.858-21.213,0l-37.5,37.5 c-4.29,4.29-5.573,10.742-3.252,16.347c2.322,5.605,7.792,9.26,13.858,9.26H150V315c0,8.284,6.716,15,15,15c8.284,0,15-6.716,15-15 V67.5h22.5c6.067,0,11.537-3.655,13.858-9.26C218.68,52.635,217.397,46.184,213.107,41.894z"></path>
                </g>
            </svg>
            </a>
        </div>
    </div>

    {% if tricks|length > 4 %}
        <div class="d-flex justify-content-center align-items-center">
            <button id="showMoreTrick" class="btn btn-outline-primary mt-5 mb-5">Charger plus</button>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function checkTricks() {
                let visibleTricks = document.querySelectorAll('.card:not(.hidden-trick)').length;
                let arrow = document.getElementById('scrollArrow');

                if (visibleTricks >= 15) {
                    arrow.style.display = 'block';
                } else {
                    arrow.style.display = 'none';
                }
            }

            checkTricks();

            $("#showMoreTrick").on("click", function() {
                $(".hidden-trick").slice(0, 4).removeClass("hidden-trick");
                checkTricks();
                if ($(".hidden-trick").length === 0) {
                    $(this).hide();
                }
            });

            $(document).on("click", ".confirmationButton", function(event) {
                event.preventDefault();
                const confirmation = confirm("Êtes-vous sûr de supprimer cette figure ?");
                if (confirmation) {
                    const idTrick = $(this).data('trick');
                    window.location.href = "/trick/remove/" + idTrick;
                }
            });
        });
    </script>
{% endblock %}
