{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle figure{% endblock %}

{% block body %}
    <div class="container text-center mt-5 mb-5 col-md-4">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <h2>Ajouter une nouvelle figure</h2>

        {{ form_start(form, {'attr' : {'class' : 'mt-5'}}) }}

        <div class="form-group mt-2">
            <label for="trick_name">Nom de la figure : </label>
            {{ form_row(form.name, {'attr' : {'class' : 'form-control mt-3'}}) }}
        </div>

        <div class="form-group mt-2">
            <label for="trick_content">Description : </label>
            {{ form_row(form.content, {'attr' : {'class' : 'form-control mt-3'}}) }}
        </div>

        <div class="form-group mt-2">
            <label for="trick_groups">Catégorie : </label>
            {{ form_row(form.groups, {'attr' : {'class' : 'form-select mt-3'}}) }}
        </div>

        <div class="form-group mt-2">
            <label for="trick_imageFile">Image principal : </label>
            {{ form_row(form.imageFile, {'attr' : {'class' : 'form-control mt-3'}}) }}
        </div>

        <div class="form-group mt-4">
            <label for="trick_imageFile">Images secondaires : </label>
            {{ form_row(form.images, {'attr' : {'class' : 'form-control mt-3'}}) }}
        </div>

        <div class="form-group mt-5">
            <label for="trick_videos">Vidéos : </label>
            <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}">
                {% for video in form.videos %}
                    <li>
                        {{ form_row(video, {'attr' : {'class' : 'form-control mt-5 mb-5'}}) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" id="add-video-btn" class="btn btn-outline-dark mt-4">Ajouter une vidéo</button>
        </div>

        <button class="btn btn-primary mt-5" type="submit">Ajouter</button>

        {{ form_end(form) }}
    </div>
{% endblock %}
