{% extends 'base.html.twig' %}

{% block title trick.name  %}

{% block body %}

    <div class="text-center">
        <p style="position:absolute;font-size: 150px; color: black; font-weight: bold; top: 50%; left: 50%; transform: translate(-50%, -50%);">{{ trick.name }}</p>
        <img width="100%" src="{{ asset('uploads/tricksImg/' ~ trick.images) }}" alt="">
    </div>

    {% if trick.medias %}
        <div class="container mt-5">
            <iframe src="{{ trick.medias }}" frameborder="0"></iframe>
        </div>
    {% endif %}

    <div class="container mt-5 mb-5 d-flex justify-content-around align-items-center">
        <span class="badge bg-primary">{{ trick.groups.name }}</span>
        <span class="badge bg-primary">Crée le {{ trick.createdAt|date('d-m-Y') }}</span>
        <span class="badge bg-primary">Modifié le {{ trick.editAt|date('d-m-Y') }}</span>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column mb-5">
        <hr style="width: 50%; ">

        <div class="col-md-6">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <h2 class="text-center mt-5 mb-5">Ecrire un commentaire</h2>
            <form class="d-flex align-items-center p-3 mt-5" id="commentForm">
                <input id="content" type="text" class="form-control">
                <button class="btn btn-primary">Envoyer</button>
            </form>
        </div>

        <hr class="mt-5" style="width: 50%; ">
    </div>

    <div style="width: 50%" class="container mt-5 mb-5" id="commentaires">
        {% for comment in comments %}
            <div class="d-flex align-items-center p-3 mt-5" style="background-color : #f7f7f9">
                <span class="badge bg-primary" style="margin-left: 20px">{{ comment.username }}</span>
                <p style="margin-left: 100px; margin-bottom: 0" class="">{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>

    {% if comments|length > 3 %}
        <div class="d-flex justify-content-center align-items-center">
            <button id="sendComment" class="btn btn-outline-primary mt-5 mb-5">Charger plus</button>
        </div>
    {% endif %}

    <script type="module">
        let url = window.location.href;

        // Utilisez une expression régulière pour extraire l'ID
        let idMatches = url.match(/\/trick\/detail\/([^\/]+)$/);
        let id = idMatches && idMatches[1];

        document.getElementById('commentForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Empêche la soumission du formulaire par défaut

            const content = document.getElementById('content').value;

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    let response = JSON.parse(this.responseText);
                    let message = response.message;
                    let newComments = response.comments;

                    // Mettez à jour la liste des commentaires
                    var commentairesDiv = document.getElementById('commentaires');
                    commentairesDiv.innerHTML = '';
                    commentairesDiv.innerHTML = '<div class="alert alert-success">Votre commentaire à bien été ajouté !</div>'

                    newComments.forEach(function(comment) {
                        let newCommentDiv = document.createElement('div');
                        newCommentDiv.classList.add('d-flex', 'align-items-center', 'p-3', 'mt-5');
                        newCommentDiv.style.backgroundColor = '#f7f7f9';
                        newCommentDiv.innerHTML = `
                <span class="badge bg-primary" style="margin-left: 20px">${comment.username}</span>
                <p style="margin-left: 100px; margin-bottom: 0">${comment.content}</p>`;
                        commentairesDiv.appendChild(newCommentDiv);
                    });

                    // Affichez le message de succès ou effectuez d'autres actions si nécessaire
                    console.log(message);
                }
            };

            xhttp.open('POST', '/add-comment', true); // Assurez-vous d'indiquer le bon chemin pour l'ajout de commentaire
            xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhttp.send('id=' + id + '&content=' + content);
        });
    </script>

{% endblock %}