{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <div class="text-center">
        <p style="position:absolute;font-size: 150px; color: black; font-weight: bold; top: 50%; left: 50%; transform: translate(-50%, -50%);">{{ trick.name }}</p>
        <img width="100%" src="{{ asset('uploads/tricksImg/' ~ trick.images) }}" alt="Trick Image" onerror="this.src='{{ asset('img/default-picture.png') }}'">
    </div>

    <div class="container text-center mt-5 mb-5 fs-3">
        {{ trick.content }}
    </div>

    {% if trick.medias %}
        <div class="mt-5 d-flex align-items-center justify-content-around">
            <iframe width="560" height="315" src="{{ trick.medias }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% if trick.imagesTrick %}
                {% for imagesTrick in trick.imagesTrick %}
                    <img width="20%" src="{{ asset('uploads/tricksImg/' ~ imagesTrick.name) }}" alt="Trick Additional Image" onerror="this.src='{{ asset('img/default-picture.png') }}'">
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <div class="container mt-5 mb-5 d-flex justify-content-around align-items-center">
        <span class="badge bg-primary">{{ trick.groups.name }}</span>
        <span class="badge bg-primary">Crée le {{ trick.createdAt|date('d-m-Y') }}</span>
        <span class="badge bg-primary">Modifié le {{ trick.editAt|date('d-m-Y') }}</span>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column mb-5">
        <hr style="width: 50%; ">

        <div class="col-md-6">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <h2 class="text-center mt-5 mb-5">Écrire un commentaire</h2>
            {% if app.user %}
                <form class="d-flex align-items-center p-3 mt-5" id="commentForm">
                    <input id="content" type="text" class="form-control">
                    <button class="btn btn-primary">Envoyer</button>
                </form>
            {% else %}
                <div class="container">
                    <div class="alert alert-warning">
                        Vous devez être connecté pour écrire un commentaire
                    </div>
                </div>
            {% endif %}
        </div>

        <hr class="mt-5" style="width: 50%; ">
    </div>

    <div style="width: 50%" class="container mt-5 mb-5" id="commentaires">
        {% for comment in comments %}
            <div class="d-flex align-items-center gap-5 mt-5 w-100 comment {% if loop.index > 4 %}hidden-comment{% endif %}">
                <img class="rounded-circle" width="5%" src="{{ comment.users.userPicture ? asset('uploads/pictures/' ~ comment.users.userPicture) : asset('img/default-picture.png') }}" alt="User Avatar" onerror="this.src='{{ asset('img/default-picture.png') }}'">
                <span class="badge bg-dark">{{ comment.users.username }}</span>
                <p style="margin-left: 100px; margin-bottom: 0">{{ comment.content }}</p>
                <span class="badge bg-dark ms-auto">Posté le {{ comment.createdAt|date('Y-m-d') }}</span>
            </div>
        {% endfor %}
    </div>

    {% if comments|length > 4 %}
        <div class="d-flex justify-content-center align-items-center" id="loadMoreContainer">
            <button id="loadMoreComments" class="btn btn-outline-primary mt-5 mb-5" data-offset="4">Afficher plus</button>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module">
        $(document).ready(function() {
            $("#loadMoreComments").on("click", function() {
                $(".comment.hidden-comment").removeClass("hidden-comment");
                $("#loadMoreContainer").hide();
            });
        });
    </script>
{% endblock %}
